.Card {
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
  border-radius: 6px;

  background: #ffffff;
  color: #141414;

  font-family: 'Nunito Sans', sans-serif;
  text-align: left;

  .Card__Section {
    padding: 24px;
    border: solid #dfe0e1;
    border-width: 1px 1px 0 1px;

    &:first-child {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-bottom-width: 1px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}
